<!DOCTYPE html>
<html>
  <head>
    <title>randvin</title>
  </head>
  <body ng-app='randVin'>
    <div ng-controller='VinController'>
      {{vin}}
    </div>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.js"></script>
  <script src='javascripts/randvin-module.js'></script>
  <script src='javascripts/services/vin-service.js'></script>
  <script src='javascripts/controllers/vin-controller.js'></script>
  </body>
</html>
